/* Styles for the external CSS file */
body {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: PaleTurquoise;
    margin: 20px;
    padding: 20px;
}
h1 {
    color: black;
    text-align: center;
    margin-top: 50px;
}
p {
    color: RoyalBlue;
    text-align: left;
    line-height: 1.6;
    padding: 0 50px;
    font-size: 20px;
}