body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.keterangan {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.paragraf1 {
  font-size: 16px;             
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraf2 {
  font-size: 120%;              
  font-weight: 400;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.paragraf3 {
  font-size: 1.5em;             
  font-weight: 300;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}

.paragraf4 {
  font-size: 1.2rem;            
  font-weight: bold;
  font-style: normal;
  font-family: Georgia, serif;
}

.paragraf5 {
  font-size: large;             
  font-weight: bolder;
  font-style: italic;
  font-family: Verdana, Geneva, sans-serif;

}
